<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle Name="DesktopInstaller.Exe" Version="1.0.0.0" Manufacturer="CookCSharp" UpgradeCode="e313975f-94c9-44f5-ad25-1e26effcfa1e">
	<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

	<Chain>
	  <!-- TODO: Define the list of chained packages. -->
	  <!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
	  <MsiPackage Compressed="yes" SourceFile="$(var.DesktopInstaller.Msi.TargetPath)" DisplayInternalUI="yes"/>
	</Chain>
  </Bundle>
</Wix>
