<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
	 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?define TargetFrameworkRedist=..\Resources\Depends\ndp48-web.exe?>
  <?define TargetFrameworkWeb=https://dotnet.microsoft.com/en-us/download/dotnet-framework/net48?>
  <?define Dia=..\?>

  <Bundle Name="!(bind.packageName.CookPopularInstaller.Msi)" Version="!(bind.packageVersion.CookPopularInstaller.Msi)"
		  Manufacturer="!(bind.packageManufacturer.CookPopularInstaller.Msi)"
		  HelpTelephone="!(loc.HelpTelephone)" HelpUrl="!(loc.HelpUrl)" UpdateUrl="!(loc.UpdateUrl)" AboutUrl="!(loc.AboutUrl)"
		  Compressed="yes" IconSourceFile="..\Resources\Images\logo.ico"
		  Copyright="Copyright © 2022 [Bundle/@Manufacturer]. All rights reserved."
		  DisableRemove="no" DisableModify="no" DisableRepair="no"
		  UpgradeCode="e313975f-94c9-44f5-ad25-1e26effcfa1e">

	<bal:Condition Message="!(loc.WindowsVersionMessage)">
	  <![CDATA[VersionNT >= v6.3]]>
	</bal:Condition>

	<util:RegistrySearchRef Id="NetFramewrokVersionSearch"/>
	<util:RegistrySearchRef Id="NetFramewrok48Search"/>

	<PayloadGroup Id="NetFx48RedistPayload">
	  <Payload Name="NDP48.exe" SourceFile="$(var.TargetFrameworkRedist)"/>
	</PayloadGroup>

	<WixVariable Id="WixMbaPrereqPackageId" Value="Netfx4Full"/>
	<WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf"/>
	<BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
	  <bal:WixStandardBootstrapperApplication LogoFile="[InstallFolder]\TestApp.exe" LicenseFile="..\Resources\Files\license.rtf"/>
	  <Payload Name="BootstrapperCore.config" SourceFile="$(var.CookPopularInstallerUI.TargetDir)\$(var.CookPopularInstallerUI.TargetFileName).config"/>
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetPath)" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)BootstrapperCore.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)CookPopularControl.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)CookPopularCSharpToolkit.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)DryIoc.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)log4net.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)Microsoft.WindowsAPICodePack.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)Microsoft.WindowsAPICodePack.Sensors.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)Microsoft.WindowsAPICodePack.ShellExtensions.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)Microsoft.Xaml.Behaviors.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)Prism.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)Prism.DryIoc.Wpf.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)Prism.Wpf.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)QRCoder.dll" />
	  <Payload SourceFile="$(var.CookPopularInstallerUI.TargetDir)System.ValueTuple.dll" />
	</BootstrapperApplicationRef>

	<Chain DisableRollback="yes">
	  <!--<PackageGroupRef Id="NetFx40Web"/>-->
	  <!--<PackageGroupRef Id="NetFx48RedistPayload" />-->
	  <ExePackage Id="Netfx48Full" Description=".NetFramewrok4.8运行时"
				  Cache="yes" Compressed="yes" PerMachine="yes"
				  Permanent="yes" Vital="yes" SourceFile="$(var.TargetFrameworkRedist)"
				  InstallCommand="/q /ACTION=Install /norestart " DownloadUrl="$(var.TargetFrameworkWeb)"
				  InstallCondition="VersionNT64 AND NetFramewrok48Info &lt; v4.8"
				  DetectCondition="VersionNT64 AND NetFramewrok48Info &gt;= v4.8"/>
	  <MsiPackage Id="CookPopularInstaller.Msi" Compressed="yes" SourceFile="$(var.CookPopularInstaller.Msi.TargetPath)"
				  DisplayInternalUI="no" ForcePerMachine="yes" Permanent="no" Visible="no" InstallCondition="VersionNT64">
		<MsiProperty Name="InstallFolder" Value="[InstallFolder]"/>
	  </MsiPackage>
	</Chain>
  </Bundle>

  <Fragment>
	<util:RegistrySearch Id="NetFramewrokVersionSearch"
						 Root="HKLM"
						 Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4"
						 Result="exists"
						 Variable="NetFramewrokVersionInfo"/>
	<bal:Condition Message=".NetFramewrok4.8 is not installed">
	  <![CDATA[Installed OR NetFramewrokVersionInfo]]>
	</bal:Condition>	
	<util:RegistrySearch Id="NetFramewrok48Search"
						 Root="HKLM"
						 Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full"
						 Result="value"
						 Variable="NetFramewrok48Info"
						 Value="Version"
						 After="NetFramewrokVersionSearch"/>
	<bal:Condition Message=".NetFramewrok4.8 is not installed">
	  <![CDATA[Installed OR NetFramewrok48Info >= "4.8"]]>
	</bal:Condition>
  </Fragment>
  
  <!--<Fragment>
	<PropertyRef Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" />
    <Condition Message="This application requires .NET Framework 4.8. Please install the .NET Framework then run this installer again.">
	  <![CDATA[ Installed OR WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED]]>   
	</Condition>
  </Fragment>-->

</Wix>
